.modal {
  position: absolute;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  background-color: var(--modal-color);
  width: 100%;

  top: 50%;
  transform: translateY(-50%);

  padding-block: 2rem;
}

.winner {
  color: var(--button-color);
}

.next-round-starter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.next-round-starter img {
  display: block;
  width: 32px;
}

.next-round-starter p {
  font-size: 2rem;
  font-weight: bold;
}

.blue-light {
  color: var(--light-blue);
}

.yellow {
  color: var(--yellow);
}

.options button {
  font-family: inherit;
  font-weight: bold;
  padding: 0.6rem;
  border: none;
  border-radius: var(--radius-5);
  color: var(--background-text-color);
}

.options button:first-of-type {
  background-color: var(--button-color);
  margin-right: 0.8rem;
  box-shadow: 0rem 0.2rem 0 0 var(--button-shadows);
}

.options button:last-of-type {
  background-color: var(--yellow);
  margin-right: 0.8rem;
  box-shadow: 0rem 0.2rem 0 0 var(--yellow-shadow);
}

.options button:active {
  box-shadow: none;
  transform: translateY(0.3rem);
}
