@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-text-color: #192a32;
  --shadows: #102129;
  --button-color: #a8bec9;
  --button-shadows: #738a96;
  --modal-color: #1f3540;
  --overlay-color: #0c1319;
  --yellow: #f1b137;
  --yellow-shadow: #d08b0d;
  --light-blue: #31c4be;
  --light-blue-shadow: #208888;

  --radius-5: 5px;
  --radius-10: 10px;
  --radius-20: 20px;
}

body {
  font-family: "Outfit";
  background-color: var(--background-text-color);
  color: var(--background-text-color);

  width: 100vw;

  font-size: 1rem;
}

button {
  cursor: pointer;
}

img {
  pointer-events: none;
}
